<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gasinformationapp_101"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.gasinforapp.config.MApplication"
        android:allowBackup="true"
        android:icon="@drawable/gas_icon02"
        android:label="@string/app_name"
        android:theme="@style/AnimationTheme" >
        <activity
            android:name="com.gasinforapp.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        <activity android:name="com.gasinforapp.activity.NewsContentAty"></activity>
        <activity android:name="com.gasinforapp.activity.NoticeContentAty"></activity>
        <activity android:name="com.gasinforapp.activity.NoticeListAty"></activity>
        <activity android:name="com.gasinforapp.activity.LoginAty"></activity>
        <activity android:name="com.gasinforapp.activity.GroupMembersAty"></activity>
        <activity android:name="com.gasinforapp.activity.GroupChatAty"></activity>
        <activity android:name="com.gasinforapp.activity.HomeActivity"></activity>
        <activity android:name="com.gasinforapp.activity.AddMemberAty"></activity>
        <activity android:name="com.gasinforapp.activity.StartPolling"></activity>
        <activity android:name="com.gasinforapp.activity.DownLoadTest"></activity>
        <service
            android:name="com.gasinforapp.service.MessageService"
            android:enabled="true" >
        </service>
    </application>

</manifest>
